<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>The Running ThinkTank is engaged in cutting-edge research and analysis into the world of athletics. We study topic areas such as the economics of the sport, the merits of amateur versus professional models and the non-physiological factors that impact performance progression.</p>
    </div>
</div>

<div class="container">
<p>The Team: <br /> 
<br /> 
<br /> 
BON <br /> 
<br /> 
FCB <br /> 
<br /> 
AN Other
</p>
</div>