<h1>About FFGA</h1>

<p>We are living in an era of rapid change and dispruption (largely led by the digital revolution). Whilst many sports have taken advantage of this, the sports of athletics has lagged behind.

For a sport with as much global appeal as athletics, there currently is a distinct lack of a viable outlet for professional competition, a reliance on a corrupt and broken governing body that fails to deliver, and a PR crisis around performance-enhancing drugs that just keeps getting worse.

Future Athletics sets out to be the forum for the new ideologies and fresh thinking for how this environment can be disrupted and launched into a better era.
</p>
