<div class="jumbotron jumbotron-home">
    <div class="container">
    <% if user_signed_in? %>
        <h1>Welcome back!</h1>
    <% else %>
        <h1>Welcome to the Running Think-Tank!</h1>
        <p>We are a platform for discussion around the future of the sport of athletics. Feel free to follow our content by visiting this site, or be a part of the conversation by signing up below! </p>
        <%= link_to "Join Today!", signup_path, class: "btn btn-primary btn-lg" %> 
        <% end %>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Research</h2>
            <p>The Running ThinkTank is engaged in cutting-edge research and analysis into the world of athletics. We study topic areas such as the economics of the sport, the merits of amateur versus professional models and the non-physiological factors that impact performance progression.
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>Propositions</h2>
            <p>We are a forward-looking team of current and former high-performance athletes with a vision to create a better world for the sport of athletics. We dream up what an ideal world will look like, and reverse-engineer it into a series of plans and blueprints.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
            <h2>News</h2>
            <p>We follow and discuss the political and industry events in the world of athletics, ranging from the Olympic Committees, to the IAAF, to other companies and organisations that are involved in the shaping of the sport on a global level.</p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>