<h1>Future Athletics</h1>

<p>Stay tuned here for discussion and analysis of the current state of global track & field/cross-country running, and thoughts on how it can be disrupted into becoming one of world's major mainstream sports.</p>
