<div class="jumbotron jumbotron-home">
    <div class="container">
    <% if user_signed_in? %>
        <h1>Welcome back!</h1>
    <% else %>
        <h1>Welcome to the Running Think-Tank!</h1>
        <p>We are a platform for discussion around the future of the sport of athletics. Feel free to follow our content by visiting this site, or be a part of the conversation by signing up below! </p>
        <%= link_to "Join Today!", signup_path, class: "btn btn-primary btn-lg" %> 
        <% end %>
    </div>
</div>
<div class="container">
    


<h2># Economics</h2>
</br>
<a href ='http://www.indystar.com/story/sports/2014/06/23/pro-track-athletes-make-little/11282551/'>Pro Track Athletes Make as Little as $5,000/year</a>
</br>
</br>
</br>
<h2># Attempts</h2>
</br>
<a href ='http://www.runnersworld.com/track-meets/this-is-track-meet-brings-athletes-close-to-fans-in-atlanta'>This Track Meet Brings Athletes Closer to the Fans in Atlanta</a>
</br>
<a href='http://www.oregonlive.com/trackandfield/index.ssf/2016/06/track_and_fields_new_pro_leagu.html'>Track and Field's New Pro League</a>
</br>
</br>
</br>
<h2># Intentions</h2>
</br>
<a href='http://www.insidethegames.biz/articles/1030748/coe-says-ipl-style-athletics-league-for-global-cities-is-very-good-idea'>Coe Says IPL-Style Athletics League for Global Cities is a Very Good Idea</a>
</br>
</br>
</br>
<h2># Prediction-Modelling</h2>
</br>
<a href='http://www.economist.com/blogs/gametheory/2016/11/kiwi-kings?fsrc=scn/fb/te/bl/ed/thecurrentallblacksarethemostdominantrugbysideever'>The Current All-Blacks Are The Most Dominant Rugby Side Ever</a>
</br>
</br>
</br>
<h2># Controversy</h2>
</br>
<a href='https://www.washingtonpost.com/sports/olympics/olympic-executives-cash-in-on-a-movement-that-keeps-athletes-poor/2016/07/30/ed18c206-5346-11e6-88eb-7dda4e2f2aec_story.html'>Olympic Executives Cash In On A Movement That Keeps Athletes Poor</a>
</br>
<a href='http://www.irishtimes.com/sport/other-sports/the-shadowy-world-of-european-cross-country-running-1.2900384'>The Shadowy World Of European Cross-Country Running</a>
</br>
</br>
</br>
<h2># Startups</h2>
</br>
<a href='http://www.forbes.com/sites/thobilehans/2016/06/14/the-entrepreneur-trying-to-bring-professional-rugby-to-america/#1e65dcc662a2'>The Entrepreneur Trying to Bring Professional Rugby to America</a>
</br>
<a href='https://www.theguardian.com/sport/2016/apr/16/doug-schoninger-us-pro-rugby'>Doug Schoninger - US Pro Rugby</a>
</br>
<a href='http://uavcoach.com/drone-racing-league-partners-espn-closes-12-million-investment/'>Drone Racing League Partners With ESPN, Closes $12million Investment</a>
</br>
<a href=http://www.theverge.com/2015/8/12/9136279/drone-racing-league-one-million-backing>Drone Racing League Receives $1m Backing</a>
</br>
</br>
</br>
<h2># Media</h2>
</br>
<a href='http://www.forbes.com/sites/darrenheitner/2014/10/02/sports-media-outlet-flocasts-secures-8-million-from-causeway-media-partners/'>Sports Media Outlet Flocasts Secures $8million from Causeway Media Partners</a>
</br>
</br>
</br>
<h2># Cool-Videos</h2>
</br>
<a href='http://www.flotrack.org/video/78340-oklahoma-state-workout-with-the-cowboys-episode-7'>Flotrack - Oklahoma State: Workout With The Cowboys</a>
<a href='http://www.flotrack.org/video/984641-inside-melbourne-track-club-the-globetrotters-of-track'>Flotrack - Inside Melbourne Track Club: The Globetrotters of Track</a>    
</div>
</div>